.profile-border{
  border-width: 0px;
  border-style: solid;
  border-radius: 50%;
}
.smaller-image{
  width: 150px;
  height: 150px;
  margin-left: 150px;
}

.logo{
  display: inline-flex;
  background: url('/images/icons.png') no-repeat -352px 0;
	width: 351px;
	height: 70px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.input{
  text-align: center;
  display: inline-flex;
  padding-top:45px;
  padding-right:100px;
  padding-bottom:35px;
  padding-left:100px;
  

}
.explore{
  display: inline-flex;
  background: url('/images/icons.png') no-repeat -654px -450px;
	width: 44px;
	height: 44px;

}

.heart{
  display: inline-flex;
  background: url('/images/icons.png') no-repeat -454px -453px;
	width: 44px;
	height: 38px;
}

.profile-icon{
  display: inline-flex;
  background: url('/images/icons.png') no-repeat -254px -451px;
	width: 44px;
	height: 42px;
}
.top-section{
  display: inline-flex;
  justify-content: center;

}
.three-buttons{
  display: inline-flex;
  justify-content: space-around;
  width: 200px;
  padding-top:35px;
  padding-right:0px;
  padding-bottom:25px;
  padding-left:50px;
  margin-left: 70px;
}

.three-dots{
  background: url('/images/icons.png') no-repeat -133px -391px;
	width: 46px;
	height: 10px;
  vertical-align: bottom;
}

.middle-section{
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-around;
  flex-direction: row;
  display: flex;
}

.username-text{
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: baseline;
}

.right-section{
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 200px;
  vertical-align: baseline;
}

.following{
  width: 500px;
  height: 100px;
  display: flex;

}

.posts-followers-following {
  justify-content: space-between;
  width: 400px;
  display: inline-flex;
  color: #262626;
}

.bio {
  font-size: 17px;
  line-height: 24px;
  width: 500px;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  display: block;

}

.button{
  margin: 30px 30px;
  background-color: #4CAF50;
  border-radius: 7px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 13px;
}
